<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, initial-scale=1.0, user-scalable=0">
    <title>Tweets</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/rc-easyui/dist/themes/default/easyui.css">
    <link rel="stylesheet" href="/css/rc-easyui/dist/themes/icon.css">
    <link rel="stylesheet" href="/css/rc-easyui/dist/themes/react.css">
    <link rel="stylesheet" href="/css/twstyles.css">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <div id="app-container">
    </div>
    <!--  Roboto font -->
    <script>
      var WebFontConfig = {
        google: { families: [ 'Roboto:400,300,500:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>    <!-- And then your bundled js -->
    <script src="/js/bundle.js"></script>
  

  </body>
</html>
